.gallery-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.gallery-img {
  display: flex;
  justify-content: center;
}
.gallery-wrap img {
  width: 95%;
}
